{
  "exclude": ["src/specs/**/*.ts"],
  "include": ["src/app/**/*.ts, src/app/**/*.tsx, src/app/**/*.js"],
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100
}